<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
   <div class="container">
      <a class="navbar-brand" routerLink="/login">Delinia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" routerLink="/register">Cadastro</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/candidates">Lista de Candidatos</a>
            </li>
         </ul>
         <div class="form-inline my-2 my-lg-0" *ngIf="loggedUser | async as u">
            <span class="mr-3">{{ u.email }}</span> 
            <button *ngIf="u.isLogged; else anonymousUser" class="btn btn-outline-success btn-sm my-2 my-sm-0" (click)="logOut()">Log Out</button>
         </div>
         <ng-template #anonymousUser>
            <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" routerLink="/login">Login</button>
         </ng-template>
      </div>
   </div>
 </nav>